
section
{
	padding-top: 2rem;
    /* background-color: bisque; */
}

.baners
{
    width: 3508px;
    height: 2480px;
	/* border: 1px solid white; */
	margin: auto;
	overflow: auto;
	box-sizing: border-box;

}

.container{
    width: 100%;
}

.baner{
	width: 100%;
}

.thumbn {
    max-width: 100%;
	width: 470px;
    height: 400px;
    float: left;
    border: 1px solid white;
    box-sizing: border-box;
}


@keyframes fadein {
    to{
        opacity: 1;
    }
}
.faded {
    opacity: 0;
    animation: fadein 0.5s forwards;
}

.activ{
    opacity: 0.5;
}

.thumbnails{
    width: 150px;
    height: 95px;

}

.thumbnails:hover{
	cursor: pointer;
	opacity: 0.5;
}

.container-1 {
    /* border: 1px solid rgb(228, 37, 37);
    background-color: aliceblue; */
    display: flex;
    flex-direction: row;
    padding: 100px;
    width: 100%;

}

@media screen and (max-width:576px){
    .container-1{
        padding: 0;
        flex-direction: column;
       
    }
    .container-1 .box-1{
        flex-direction: column;
    }

    

    
}

