.jumbotron{
	padding-top: 7rem;
	background-color: #e2edff;
	/* background-image: url(background/dm.png); */
}


#fortpolio{
	background-color: #a4bde6;
}


footer p {
	
	color: white;



}

footer p:hover{
	color: red;
}

section{
	padding-top: 5rem;
}

.container1{
	font-size: 30px;
	color: red;
	
}

h1{
	font-family: 'Reem Kufi', sans-serif;
}

nav#nav2{
	position: fixed;
    display: none;
    
	width: 100%;
	z-index: 99;
	padding-top: 15px;
	height: 75px;
    
   
}
nav logo{
    justify-content: space-between;
    
    
}
h4{
    position: absolute;
    display: flex;
    color: rgb(233, 243, 231);
    justify-content: space-around;
    font-family: 'Lobster', cursive;
    letter-spacing:4px;
    font-size: 1rem;
	margin-top: 20px;
	margin-left: 5px;
    font-family: 'Varela Round', sans-serif;
    
}







.menu-togle{
    display: flex;
    
}

.menu-togle i{
    font-size: 3rem;
	color: azure;
    
}

@media screen and (max-width:665px){
    nav ul{
        position: absolute;
        right: 0;
        top: 74px;
        flex-direction: column;
        background-color: rgba(14, 14, 14, 0.563);
        height: 50em;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
		list-style: none;
	
    }



    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
		width: 25%;

    }

    .menu-togle{
        display:flex;
		width: 100%;
		align-items: flex-end;
       

		
        
    }
	.menu-togle i{
		display: flex;
		margin-left:80%;
        height: 100%;
		
	}

	.col-md-3{
		z-index: 1;
	}

    nav#nav2{
        display: flex;
    }

    #nav1{
        display: none;
    }
}

@media only screen and (min-width: 667px) {
    nav#nav1{
      display:flex;
      width: 100%;
      font-size: small;



    }
    nav#nav1 .collapse{
        margin-right: 50px;
    }

    nav#nav2{
        display: none;
    }


    
   }

